{% extends 'layouts/base.html' %}



{% block title %}Welcome to MyApp{% endblock %}
{% block meta_description %}Find out the cool stuffs you can do with MyApp{% endblock %}


{% block body %}

            <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>This is place holder for content #1.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>This is place holder for content #2.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>This is place holder for content #3.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            </div>
{% endblock %}